<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Система продажи билетов</a>
    </div>
</div>

<nav class="flex-column">
    <div class="nav-item px-3">
        <a class="nav-link" href="/">
            <span class="oi oi-home" aria-hidden="true"></span> Главная
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/trains">
            <span class="oi oi-list" aria-hidden="true"></span> Поезда
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/passengers">
            <span class="oi oi-people" aria-hidden="true"></span> Пассажиры
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/seats">
            <span class="oi oi-layers" aria-hidden="true"></span> Свободные места
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/passengertrips">
            <span class="oi oi-map" aria-hidden="true"></span> Передвижения
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/ticketscost">
            <span class="oi oi-dollar" aria-hidden="true"></span> Стоимость
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/passengerbyseat">
            <span class="oi oi-person" aria-hidden="true"></span> Пассажир по месту
        </a>
    </div>
</nav>